.card-wrapper {
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgb(248,247,247);

}

.image-wrapper {
    height: 150px;
    margin-top: 60px;

}

.card-image {
    width: 20%;
}

.title, .price {
    color: rgb(62, 99, 87);
}

.star {
    width: 10%;
}

.btn {
    border: none;
    background-color: white;
}

.star {
    
}