.modal {
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
  
    &__wrapper {
      background-color: rgb(255, 255, 255);
      // height: 100px;
      // width: 100px;
    }
  }

  .main__wrapper {
    margin: 20px 20px ;
  }

  .button-wraper {
    display: flex;
    justify-content: center;
  }

  .cross__wrapper {
    display: flex;
    justify-content: end;
  }

  .main__wrapper-text {
    font-size: 20px;
  }


  .cross {
    width: 12%;
    cursor: pointer;
  }
